html, body {
        background-color: #f8f8f8;
        color: #222;
        line-height: 1.6;
        font-family: "lato"
}

.header, .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.header {
        min-height: 200px;
        max-height: 25vh;
        padding-top: 5rem;
}

.header .title {
        font-size: 1.6rem;
        letter-spacing: 0.1rem;
}

.header .description {
        margin: 0.5rem;
        font-size: 0.9rem;
        color: #888;
}

.content {
        margin: 0 auto;
        max-width: 80ch;
}

.content div {
        width: 100%;
        overflow-wrap: break-word;
        text-align: left;
}

.content img {
        width: 100%;
}

.content pre {
        background-color: #222;
        color: #f8f8f8;
        font-style: monospace;
        padding: 1.0rem;
        white-space: wrap;
        overflow-x: scroll;
        overflow-wrap: none;
}

.content p > code {
        background-color: #e8e8e8;
        color: #222;
        padding: .2em;
        border-radius: 5px;
}

.content a {
        padding: .2em;
        color: #AA8CC5;
        text-decoration: none;
}

.content a:hover {
        padding: .2em;
        background-color: #AA8CC5;
        color: #f8f8f8;
}