.content div {
        width: 100%;
        overflow-wrap: break-word;
        text-align: left;
}

.content img {
        width: 100%;
}

.content pre {
        font-family: Hack, monospace;
        line-height: 1;
        background-color: #222;
        color: #f8f8f8;
        padding: 1.0rem;
        white-space: wrap;
        overflow-x: scroll;
        overflow-wrap: none;
}

.content p > code, li > code {
        font-family: Hack, monospace;
        line-height: 1;
        font-size: .7em;
        background-color: #e8e8e8;
        color: #222;
        padding: .2em;
        border-radius: 5px;
}

.content a {
        padding: .2em;
        color: #AA8CC5;
        text-decoration: none;
}

.content a:hover {
        padding: .2em;
        background-color: #AA8CC5;
        color: #f8f8f8;
}

.content blockquote {
        margin: 0;
        padding: .2em 1.5em .2em 2em;
        border-left: .5em solid #AA8CC5;
        background-color: #f4f4f4;
        color: #222;
}

.content hr {
        color: #aaa;
        margin-top: 2rem;
        margin-bottom: 2rem;
}

.content .date {
        color: #888;
}

.content .title {
        color: #222;
        font-size: 1.5rem;
}

.content .title a {
        color: #222;
}

.content .title a:hover {
        color: #f8f8f8;
        background-color: #222;
}