.content div {
        width: 100%;
        overflow-wrap: break-word;
        text-align: left;
}

.content img {
        width: 100%;
}

.content pre {
        background-color: #222;
        color: #f8f8f8;
        font-style: monospace;
        padding: 1.0rem;
        white-space: wrap;
        overflow-x: scroll;
        overflow-wrap: none;
}

.content p > code {
        background-color: #e8e8e8;
        color: #222;
        padding: .2em;
        border-radius: 5px;
}

.content a {
        padding: .2em;
        color: #AA8CC5;
        text-decoration: none;
}

.content a:hover {
        padding: .2em;
        background-color: #AA8CC5;
        color: #f8f8f8;
}