<!DOCTYPE html>
<html>
        <head>
                <link rel="stylesheet" href="/css/base.css">
                <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
        </head>
        <body>
                <div class="header">
                        <div class="title">
                                madousho
                        </div>
                        <div class="description">
                                とあるハッキングの魔導書
                        </div>
                </div>
                <div class="content">
                {% block content %}
                Base Template. Please replace.
                {% endblock content %}
                </div>
        </body>
</html>