<!DOCTYPE html>
<html>
        <head>
                <link rel="stylesheet" href="/css/base.css">
                <link rel="stylesheet" href="/css/blog.css">
                <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" crossorigin="anonymous">
                <link href="https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css" rel="stylesheet" crossorigin="anonymous">
                <link href="//fonts.googleapis.com/css?family=Noto Sans JP" rel="stylesheet" crossorigin="anonymous">
        </head>
        <body>
                <div class="header">
                        <div class="title" onclick="location.href='/'">
                                madousho
                        </div>
                        <div class="description">
                                とあるハッキングの魔導書
                        </div>
                </div>
                <div class="content">
                {% block content %}
                Base Template. Please replace.
                {% endblock content %}
                </div>
        </body>
</html>